body {
  font-family: 'Baloo 2', cursive;
  text-decoration: none;
    margin: 0;
    background-image: url('bg1.jpg');
    background-repeat: no-repeat;
    background-size: 95% 90%;
  }
  
  html {
    box-sizing: border-box;
  }
  
  .img-wrap {
    width: 20%;
    margin-left: 10%;
    background: rgba(204, 204, 204, 0);
  }
  
  .img-wrap img {
    width: 100%;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px #999;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    
   
    color: rgb(0, 0, 0);
  }
  
  .img-wrap1 {
    width: 20%;
    margin-left: 70%;
    background: rgba(204, 204, 204, 0);
  }
  
  .img-wrap1 img {
    width: 100%;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px #999;
  }
  
  .img-wrap2 {
    width: 20%;
    margin-left: 10%;
    background: rgba(204, 204, 204, 0);
  }
  
  .img-wrap2 img {
    width: 100%;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 0 10px #999;
  }
  .img-wrap3 {
    width: 20%;
    margin-left: 70%;
    background: rgba(204, 204, 204, 0);
  }

  .img-wrap3 img {
    width: 100%;
    padding: 20px;
    border-radius: 90%;
    box-shadow: 0 0 10px #999;
  }
  
  .rodolf-text {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 35%;
    top: 60%;
    color: rgb(0, 0, 0);
    background: rgba(204, 204, 204, 0);
    
  }
  
  .amina-text {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 110%;
    color: rgb(0, 0, 0);
    background: rgba(204, 204, 204, 0);
  }
  
  .odii-text {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 35%;
    top: 148%;
    color: rgb(0, 0, 0);
    background: rgba(204, 204, 204, 0);
  }
  .tim-text {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 200%;
    color: rgb(0, 0, 0);
    background: rgba(204, 204, 204, 0);
  }
  
  .bg1 {
    z-index: -1;
    position: absolute;
    width: 720px;
    height: 1080px;
    background-size: cover;
  }
  
  .h2 {
    color: white;
  }